@model IEnumerable<HW06.Models.staff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff1.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store.store_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff1.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.store_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.staff_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.staff_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.staff_id })
        </td>
    </tr>
}

</table>
