@model IEnumerable<HW06.Models.order_items>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

@using (Html.BeginForm("Index", "order_items", FormMethod.Post))
{

    <form action="/action_page.php">
        <label for="searchD">Search Date</label>
        <input type="date" id="searchD" name="searchD" value="searchD">
        <input type="submit">
    </form>
}
<br />
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order.order_id)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order.order_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@


@foreach (var item in Model)
{
    <table class="table table-bordered">
        <tr>
            <td>
                Order @Html.DisplayFor(modelItem => item.order_id) @*@Html.DisplayFor(modelItem => item.order_date)*@
            </td>
        </tr>

        <tr>
            <td class="col-lg-6">
                Product Name
            </td>
            <td class="col-lg-2">
                List Price
            </td>
            <td class="col-lg-2">
                Quantity
            </td>
            <td class="col-lg-2">
                Total
            </td>
        </tr>
        <tr>
            <td class="col-lg-6">
                @Html.DisplayFor(modelItem => item.product.product_name)
            </td>
            <td class="col-lg-2">
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td class="col-lg-2">
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td class="col-lg-2">
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
        </tr>
        @*<tr>
                <td>

                </td>
                <td>

                </td>
                <td>
                    Total Quantity:
                </td>
                <td>
                    Total:
                </td>
            </tr>*@
    </table>
}



